@import url('https://fonts.googleapis.com/css2?family=Pathway+Extreme:ital,opsz,wght@0,8..144,100..900;1,8..144,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Merriweather:ital,wght@0,300;0,400;0,700;0,900;1,300;1,400;1,700;1,900&family=Oswald:wght@200..700&family=Space+Mono:ital,wght@0,400;0,700;1,400;1,700&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;


*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}
html{
  scroll-behavior: smooth;
  background-color: rgb(30, 16, 25);
}
.h1 {
  @apply font-semibold text-[8vh] font-mono
}
.h2 {
  @apply text-[7vh] font-mono
}
.p {
  @apply text-[2.5vh] font-medium leading-[3.7vh]
}

.gradient-border {
  border: 2px solid ; /* Border kalınlığı */
  border-image: linear-gradient(to right, #ff0000, #00ff00); /* Gradient renkler */
  border-image-slice: 1; /* Border'ın tamamını kaplaması için kesme değeri */
}

.scroll-item {
  scroll-snap-align: start; /* or center, end, etc. */
  transition: color 3s; /* Define the duration and easing */
}
.circle{
  @apply absolute duration-2000 transition-colors ease-in-out h-40 sm:hidden xl:flex w-40 rounded-full bg-transparent border-2
}

@keyframes rotate {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
@keyframes rotate2 {
  from {
    transform: rotate(360deg);
  }
  to {
    transform: rotate(0);
  }
}

.rotating {
  animation: rotate 20s linear infinite;
  transform-origin: center;
}
.rotating-2{
  animation: rotate2 20s linear infinite;
  transform-origin: center;
}


